{% extends 'auth_base.html' %}


{% block content %}
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
    {% else %}
        {% if validlink %}
            <form action="" method="post">
                {% csrf_token %}

                <h2>Set new password</h2>


                <div class="form-group">
                    {% if form.new_password1.errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.new_password1.errors %}
                                {{ error }}
                                {% if not forloop.last %}<br />{% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <label>New password: </label>
                    <input class="form-control" placeholder="new password" name="new_password1" type="password">
                </div>


                <div class="form-group">
                    {% if form.new_password2.errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.new_password2.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <label>Repeat new password: </label>
                    <input class="form-control" placeholder="repeat new password"  name="new_password2" type="password">
                </div>

                <button class="btn btn-default" type="submit">Set</button>
            </form>
        {% else %}
            <p>Something gone wrong.</p>
        {% endif %}
    {% endif %}
{% endblock %}